.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #242424;
    align-items: center;
    .headerBox {
      height: 70px;
      display: flex;
      align-items: center;
      width: 1100px;
      .titleClass {
        background-image: url("/images/topbar.png");
        // transform: scale(1.25);
        position: relative;
        cursor: pointer;
        overflow: hidden; /* 隐藏超出部分 */
        width: 177px;
        height: 70px;
        background-size: auto;
        background-position: 0px -1px;
        // margin-right: 5px;
        background-repeat: no-repeat;
      }
      .nav {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        height: 100%;
        align-items: center;
        // gap: 10px;
        .navItem {
          cursor: pointer;
          padding: 0 19px;
          color: #ccc;
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 14px;
          position: relative;
          white-space: nowrap;
          padding-bottom: 4px;
          &:hover {
            color: #fff;
            background-color: #000;
          }
          .navItemIcon {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 0px;

            // 用边框画上三角
            border-bottom: 8px solid #c20c0c;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
          }
        }
        .searchInput {
          width: 158px;
          height: 32px;
          margin-left: 6px;
          :global(.t-input) {
            border-radius: 20px;
            height: 100%;
            font-size: 12px;

            :global(.t-input__prefix) {
              margin-right: 4px;
            }
          }
        }
        .createCenter {
          // width: 100px;
          // height: 40px;
          margin: 0 6px 0 13px;
          background-color: #000;
          white-space: nowrap;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #4f4f4f;
          cursor: pointer;
          :global(p) {
            font-size: 12px;
            padding: 8px 14px;
            color: #ccc;
            &:hover {
              color: #fff;
            }
          }
          &:hover {
            border: 1px solid #fff;
          }
        }
        .loginBtn {
          font-size: 12px;
          color: #787878;

          &:hover {
            text-decoration: underline;
            background-color: unset;
            border: none;
          }
        }
        .active {
          color: #fff;
          background-color: #000;
        }
      }
    }
    .headerBottom {
      background-color: #c20c0c;
      width: 100%;
      height: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .headerBottomBold {
      background-color: #c20c0c;
      width: 100%;
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      .headerBottomItem {
        margin-left: 54px;
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 34px;
        align-items: center;
        :global(p) {
          font-size: 12px;
          color: #fff;
          padding: 2px 14px;
          cursor: pointer;
          &:hover {
            background: #9b0909;
            border-radius: 20px;
          }
        }
        .hasHover {
          background: #9b0909;
          border-radius: 20px;
        }
      }
    }
  }
  .main {
    min-height: 80vh;
    background-color: #f5f5f5;
  }
  .footer {
    border-top: 1px solid #d3d3d3;
    height: 326px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;

    .footerBox {
      width: 980px;
      display: flex;
      flex-direction: column;
      margin-top: 33px;
      .footerTopContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .footerTopItem {
          &:not(:first-child) {
            margin-left: 25px;
          }
          .footerTopItemImgOne {
            background-image: url("/images/foot_enter_new2.png");
            background-size: 220px 220px;
            background-position: -170px -5px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-position: -5px -115px;
            }
          }
          .footerTopItemImgTwo {
            background-image: url("/images/foot_enter_new2.png");
            background-size: 220px 220px;
            background-position: -5px -170px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-position: -60px -170px;
            }
          }
          .footerTopItemImgThree {
            background-image: url("/images/xStudio.png");
            background-size: 45px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-image: url("/images/xStudioHover.png");
            }
          }
          .footerTopItemImgFour {
            background-image: url("/images/foot_enter_new2.png");
            background-size: 220px 220px;
            background-position: -60px -60px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-position: -115px -5px;
            }
          }
          .footerTopItemImgFive {
            background-image: url("/images/aiLogo.png");
            background-size: 45px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-image: url("/images/aiLogoHover.png");
            }
          }
          .footerTopItemImgSix {
            background-image: url("/images/cloudSong.png");
            background-size: 45px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-image: url("/images/cloudSongHover.png");
            }
          }
          .footerTopItemImgSeven {
            background-image: url("/images/foot_enter_new2.png");
            background-size: 220px 220px;
            background-position: -170px -115px;
            display: block;
            float: none;
            width: 45px;
            height: 45px;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
              background-position: -60px -115px;
            }
          }
          .footerTopItemTextOne {
            display: inline-block;
            width: 100px;
            margin-top: 10px;

            font-weight: 400;
            font-size: 12px;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);
          }
        }
      }
      .footerBottomContainer {
        margin-top: 60px;
        text-align: center;

        .footerLinks {
          margin-bottom: 4px;

          a {
            color: #666;
            font-size: 12px;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          .line {
            color: #c2c2c2;
            margin: 0 10px;
            font-size: 12px;
          }
        }

        .footerInfo {
          p {
            color: #666;
            font-size: 12px;
            line-height: 24px;
            margin: 0;
          }

          .policeIcon {
            width: 14px;
            height: 14px;
            vertical-align: -2px;
            margin: 0 2px;
          }
        }
      }
    }
  }
  .player {
    position: fixed;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 19999;
    pointer-events: auto;
    bottom: -47px;
    transition: bottom 0.3s ease-in-out;

    &.playerVisible {
      bottom: 0;
    }
    .playerBox {
      background: url("/images/playbar.png") no-repeat 0 9999px;
      position: absolute;
      float: left;
      top: -20px;
      right: 0px;
      width: 52px;
      height: 67px;
      background-position: 0 -380px;
      .playerBoxImg {
        background: url("/images/playbar.png") no-repeat 0 9999px;
        display: block;
        width: 18px;
        height: 18px;
        margin: 6px 0 0 17px;
        background-position: -80px -380px;
        cursor: pointer;
        &:hover {
          background-position: -80px -400px;
        }
      }
      .playerBoxImgActive {
        background: url("/images/playbar.png") no-repeat 0 9999px;
        display: block;
        width: 18px;
        height: 18px;
        margin: 6px 0 0 17px;
        background-position: -100px -380px;
        cursor: pointer;
        &:hover {
          background-position: -100px -400px;
        }
      }
    }
    .bg {
      background: url("/images/playbar.png") no-repeat 0 9999px;
      height: 53px;
      zoom: 1;

      background-position: 0 0;
      background-repeat: repeat-x;
    }
    .wrap {
      position: absolute;
      left: 50%;
      top: 6px;
      z-index: 15;
      width: 1030px;
      height: 47px;
      margin: 0 auto;
      color: #fff;
      margin-left: -523.5px;
      display: flex;
      .btns {
        width: 137px;
        padding: 6px 0 0 0;
        float: left;
        .btnsItemOne {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          display: block;
          float: left;
          width: 28px;
          height: 28px;
          margin-right: 8px;
          margin-top: 5px;
          text-indent: -9999px;
          background-position: 0 -130px;
          cursor: pointer;
          &:hover {
            background-position: -30px -130px;
          }
        }
        .btnsItemTwo {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          width: 36px;
          height: 36px;
          margin-top: 0;
          background-position: 0 -204px;
          display: block;
          float: left;
          margin-right: 8px;
          text-indent: -9999px;
          cursor: pointer;

          &:hover {
            background-position: -40px -204px;
          }
        }
        .btnsItemTwoActive {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          width: 36px;
          height: 36px;
          margin-top: 0;
          display: block;
          float: left;
          margin-right: 8px;
          text-indent: -9999px;
          cursor: pointer;
          background-position: 0px -165px;
          &:hover {
            background-position: -40px -165px;
          }
        }
        .btnsItemThree {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          display: block;
          float: left;
          width: 28px;
          height: 28px;
          margin-right: 8px;
          margin-top: 5px;
          text-indent: -9999px;
          background-position: -80px -130px;
          cursor: pointer;
          &:hover {
            background-position: -110px -130px;
          }
        }
      }
      .head {
        position: relative;
        margin: 6px 15px 0 0;
        width: 34px;
        height: 34px;
        float: left;
        .headImg {
          width: 34px;
          height: 34px;
          cursor: pointer;
        }
      }
      .play {
        width: 581px;
        height: 100%;
        position: relative;
        .songName {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          .songNameItemOne {
            max-width: 300px;
            color: #e8e8e8;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            cursor: pointer;
            font-size: 12px;
            &:hover {
              text-decoration: underline;
            }
          }
          .songNameItemTwo {
            max-width: 220px;
            margin-left: 15px;
            color: #9b9b9b;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            cursor: pointer;
            font-size: 12px;
            &:hover {
              text-decoration: underline;
            }
          }
          .songNameItemThree {
            cursor: pointer;
            background: url("/images/playbar.png") no-repeat 0 9999px;
            float: left;
            width: 14px;
            height: 15px;
            margin: 7px 0 0 13px;
            background-position: -110px -103px;
            cursor: pointer;
            &:hover {
              background-position: -130px -103px;
            }
          }
        }
        :global(.t-slider__container) {
          width: 466px;
          height: 9px;
          position: absolute;
          bottom: 24%;
          left: 0;
        }
        .progressTd {
          :global(.t-slider__track) {
            background-color: rgb(199 12 12);
          }
          :global(.t-slider__button) {
            width: 22px;
            height: 24px;
            background: url(/images/iconall.png) no-repeat 0 9999px;
            background-position: 0 -250px;
            z-index: 1999;
            
            border: none;
            border-radius: 0;
            box-shadow: none;
            &:hover {
              transform: scale(1.05);
            }
          }
          :global(.t-slider__rail) {
            background-color: #000;
          }
        }
        .time {
          position: absolute;
          bottom: 24%;
          right: 20px;
          color: #797979;
          text-shadow: 0 1px 0 #121212;
          display: flex;
          flex-direction: row;
          font-size: 12px;

          .timeLeft {
            width: 49%;
            color: #a1a1a1;
            margin-right: 2px;
          }
          .timeCenter {
            width: 1%;
          }
          .timeRight {
            margin-left: 6px;
            width: 49%;
          }
        }
      }
      .oper {
        width: 87px;

        float: left;
        .operItemOne {
          background: url("/images/oper1.png") no-repeat 0 0;
          float: left;
          width: 25px;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          cursor: pointer;
          &:hover {
            background-position-y: -25px;
          }
        }
        .operItemTwo {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          background-position: -88px -163px;
          float: left;
          width: 25px;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          cursor: pointer;
          &:hover {
            background-position: -88px -189px;
          }
        }
        .operItemThree {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          background-position: -114px -163px;
          float: left;
          width: 25px;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          cursor: pointer;
          &:hover {
            background-position: -114px -189px;
          }
        }
      }
      .ctrl {
        float: left;
        z-index: 10;
        width: 170px;
        padding-left: 13px;
        position: relative;

        .ctrlItemOne {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          float: left;
          width: 25px;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          background-position: -2px -248px;
          cursor: pointer;
          position: relative;
          &:hover {
            background-position: -31px -248px;
          }
          .volumebarContainer {
            width: 32px;
            height: 113px;
            position: absolute;
            bottom: 34px;
            background-color: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            :global(.t-slider__container) {
              width: 4px;
              height: 90px;
              margin-top: 8px;
            }
            .volumebar {
              :global(.t-slider__track) {
                background-color: rgb(199 12 12);
              }
              :global(.t-slider__button) {
                width: 18px;
                height: 20px;
                background: url(/images/iconall.png) no-repeat;
                background-position: -40px -250px;
                z-index: 1999;
                cursor: pointer;
                border: none;
                border-radius: 0;
                box-shadow: none;
                &:hover {
                  transform: scale(1.05);
                }
              }
              :global(.t-slider__rail) {
                background-color: #000;
              }
            }
          }
        }
        .ctrlItemTwo {
          background: url("/images/playbar.png") no-repeat 0 9999px;
          background-position: -3px -344px;
          float: left;
          width: 25px;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          cursor: pointer;
          &:hover {
            background-position: -33px -344px;
          }
        }
        .ctrlItemThree {
          float: left;
          width: 59px;
          height: 36px;
          cursor: pointer;
          .ctrlItemThreeItemOne {
            background: url("/images/playbar.png") no-repeat 0 9999px;
            display: block;
            float: none;
            width: 59px;
            padding-left: 21px;
            background-position: -42px -68px;
            line-height: 27px;
            text-align: center;
            color: #666;
            text-shadow: 0 1px 0 #080707;
            text-indent: 0;
            text-decoration: none;
            height: 25px;
            margin: 11px 2px 0 0;
            font-size: 12px;
            &:hover {
              background-position: -42px -98px;
              text-decoration: none;
            }
          }
        }
        .ctrlItemFour {
          background: url("/images/audio-quality.png") no-repeat;
          background-size: 45px 30px;
          margin-left: 4px;
          width: 41px;
          margin-top: 9px;
          float: left;
          height: 25px;
          margin: 11px 2px 0 0;
          text-indent: -9999px;
          cursor: pointer;
          &:hover {
            background: url("/images/audio-quality-hover.png") no-repeat;
            background-size: 45px 30px;
          }
        }
      }
    }
  }
}
