.mainOne {
  display: flex;
  flex-direction: row;
  // transform: translateX(1px);
  //   width: 1222px;
  height: 100%;
  .mainOneLeft {
    width: 731px;

    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 40px;
    .mainOneLeftNav {
      width: 689px;
      border-bottom: 2px solid #c10d0c;
      height: 36px;
      display: flex;
      align-items: center;

      .mainOneLeftNavBackGroundLeft {
        height: 14px;
        width: 14px;
        margin: 10px;
        border-radius: 50%;
        border: 4px solid #c10d0c; // 圆的边框颜色和宽度
        background-color: transparent; // 中心空白
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .mainOneLeftNavItemTitle {
        font-size: 20px;
        line-height: 28px;
        cursor: pointer;
      }
      .mainOneLeftNavItemText {
        color: #666;
        margin-left: 10px;
        font-size: 12px;
        color: #333;
        display: flex;
        align-items: center;
        flex: 1;
        & > div:hover {
          cursor: pointer;
          text-decoration: underline;
        }
        .mainOneLeftNavItemTextItem {
          margin: 0 13px;
        }
      }
      .mainOneLeftNavItemMore {
        font-size: 12px;
        color: #666;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .mainOneLeftNavBackGroundRight {
        color: #c10d0c;
        font-size: 14px;
        margin-right: 10px;
        margin-left: 2px;
        margin-bottom: -2px;
      }
    }
    .mainOneLeftPictureContainer {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 42px;
    
    }
    .mainOneLeftPictureItem {
    
      width: 140px;
      height: 140px;
      position: relative;
      border: 1px solid #ccc;
      margin-bottom: 30px;
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      .mainOneLeftPictureBottomContainer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 27px;
        background-color: #000;
        opacity: 0.4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mainOneLeftPictureBottomContainerIcon {
          width: 14px;
          height: 14px;
          color: #ccc;
          margin-left: 10px;
        }
        .mainOneLeftPictureBottomContainerText {
          color: #ccc;
          font-size: 12px;
          margin-left: 4px;
          flex: 1;
        }
        .mainOneLeftPictureBottomContainerIconRight {
          color: #ccc;
          font-size: 20px;
          margin-right: 10px;
          &:hover {
            cursor: pointer;
            color: #fff;
           
          }
        }
      }
      .mainOneLeftPictureBottomText {
        font-size: 14px;
        margin-top: 4px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  .mainOneRight {
    width: 252px;
    border-right: 1px solid #d3d3d3;
    .mainOneRightLoginContent {
      position: relative;
      background: no-repeat url("/images/index.png");

      background-position: 0px -896px;
      background-size: 522px 1140px;
      box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2);
      padding:4px 0 0 0;
      .mainOneRightContentItemBackground {
        background-color: #fff;
        margin: 0;
        width: 100%;
        height: 92px;
        transform: scale(0.97);
        background: no-repeat center/cover url("/images/dis_vip_card.png");
        cursor: pointer;
      }
      .mainOneRightContentItem {
        height: 122px;
        flex-direction: column;
        display: flex;
        align-items: center;

        .mainOneRightContentItemText {
        
          font-size: 12px;
          color: #666;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 22px;
          padding: 16px 23px;
        }
        .mainOneRightContentItemButton {
          height: 29px;
          font-size: 12px;
          padding: 0 23px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
        }
      }
    }
    .mainOneRightSingerContent {
      margin-top: 15px;
      width: 100%;
      height: 455px;
      .mainOneRightSingerContentTitle {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin: 0 20px;
        border-bottom: 1px solid #ccc;
        height: 23px;
        color: #333;
        font-size: 12px;
        .mainOneRightSingerContentTitleLeft {
          font-weight: 700;
        }
        .mainOneRightSingerContentTitleRight {
          color: #333;
          font-weight: 100;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
          .mainOneRightSingerContentTitleRightIcon {
            font-size: 12px;
            color: #333;
          }
        }
      }
      .mainOneRightSingerContentMain {
        // width: 100%;
        // height: 316px;
        margin: 6px 0 14px 20px;
        .mainOneRightSingerContentMainContainer{
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: #fafafa;
          width: 210px;
          margin-top: 14px;
          height: 62px;
          border: 1px solid #d3d3d3;
          cursor: pointer;
          &:hover{
            background-color: #f4f4f4;
          }
          .mainOneRightSingerContentMainItemImg{
            width: 62px;
            height: 62px;
            background-size: cover;
            background-position: center;
          }
          .mainOneRightSingerContentMainItemTextContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 133px;
            height: 60px;
            padding-left: 14px;
            .mainOneRightSingerContentMainItemTextTop{
              font-size: 14px;
              color: #333;
              font-weight: 700;
            }
            .mainOneRightSingerContentMainItemTextBottom{
              font-size: 12px;
              color: #666;
              margin-top: 4px;
            }
          }
        }
      }
      .mainOneRightSingerContentFooter {
        width: 210px;
        height: 139px;
       
        .mainOneRightSingerContentFooterButton{
          margin-left: 20px;
          width: 210px;
          height: 30px;
          font-size: 12px;
          color: #333;
          font-weight: 700;
          background-color: #fafafa;
          border-radius: 4px;
          &:hover{
            background-color: #fff;
            border: 1px solid #d3d3d3;
          }
        }
      }
    }
  }
}
